*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: gray;
}
/* Styling main div */
.main{
    border: 2px solid red;
    height: 90vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: center;

}
/* div inside the main div */
#contianer{
    height: 500px;
    width: 50%;
    border: 5px solid rgb(44, 231, 60);
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    justify-content: center;
    background-color: black;
    border-radius: 30px;
    margin: 0px;
    padding: 0px;
    box-shadow: 5px 5px 15px 5px;
}

#circle{
    width: 30px;
    height: 30px;
    position: absolute;
    border-radius: 50%;
    
  
}
button{
    padding: 5px 10px;
    border-radius: 10px;
    background: red;
    
    color: #ffff;
    font-size: 18px;
    font-family: 'Space Mono';
    
}
button:hover{
    background-color: black;
    color: rgb(59, 231, 65);
    font-size: 19px;
    
}

h1{
    font-family: 'Space Mono';
}
h1:hover{
    text-decoration: underline;
}