


/* css reset */
* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
  font-family: "Roboto Slab";
  font-weight: 600;
}

.bgvideo{
  width: 100%;
  height: auto;
  background-size: cover;
  position: absolute;
  z-index: -1;
  /* bottom: 0;
  top: 0; */
}

.datablock{
  width: 80%;
  height: 500px;
  /* border: 5px solid rgb(8, 8, 8); */
  border-radius: 30px;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 40px;
  background-color: rgba(0,0,0,.1);
  color: #ffff;
  box-shadow: -2px -1px 54px 26px rgba(0,0,0,0.75);;
  

}
.main{
  display: flex;
  justify-content: center;
 align-items: center;
 height: 100vh;
}

.sec2main{
  display: flex;
  border: 2px solid rgb(235, 230, 230);
  justify-content: space-around;
  height: 120px;
  width: 80%;
  margin: auto;
  align-items: center;
  border-radius: 10px;
  background-color: rgba(0,0,0,.4);
  color: #ffff;
}
#temprature{
  font-size: 60px;
}

.card{
  /* border: 2px solid blue; */
  width: 15%;
  height: 90px;
  display: grid;
  grid-template-rows: 80px 80px;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  background-color:rgba(0,0,0,.8);
  font-size: 18.5px;
  color: #fbf9f9;
  border-top-right-radius: 50px;
border-bottom-left-radius: 50px;
}
.sec3{
  display: flex;
  justify-content: space-around;

}
.sec1{
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* border: 2px solid green; */
  gap: 5px;
  align-items: center;
}
#inputBox{
  width: 250px;
  height: 30px;
  padding: 5px;
}
button{
  padding: 7px 15px;
  cursor: pointer;
  background: orangered;
  color: #ffff;
  border: none;
  border-radius: 5px;

}
.sec4{
  display: flex;
  justify-content: center;
  gap: 40px;
}
.card2{
  border: 2px solid blue;
  width: 12%;
  height: 75px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  font-size: 12px;
  background-color:#ffff;
  color: #070606;
}
.card2 p{
  font-family: "Space Mono";
  font-size: 18px;
}
.mobile{
  display: none;
}

@media only screen and (max-width: 450px){
  .bgvideo{
    display: none;
  }
  .card2 p{
    font-family: "Space Mono";
    font-size: 10px;
  }
  .sec4{
   text-align: center;
    gap: 10px;}

  .card2{
    width:20%;
    height: 60px;
    border: none;
    border: 2px solid rgb(249, 49, 229);
    background: rgba(128, 126, 126, 0.1);
    color: #fff;
  }
  .sec3{
    justify-content: center;
    gap: 3px;
  }
  .card{
    
    width: 20%;
    height: 60px;
    border-radius: 10px;
    background-color:rgba(0,0,0,.8);
    font-size: 10.5px;
    color: #fbf9f9;
    text-align: center;
    border: 2px solid orangered ;
  }
  .datablock{
    background-color: rgba(0,0,0,.4);
    border: 2px solid #fff;
    justify-content: space-evenly;
    box-shadow: -2px -1px 54px 26px rgba(94, 91, 91, 0.75);;
  }
  body{
    background: #000;
  }
  #inputBox{
    width: 180px;
    height: 35px;
    padding: 8px;
  }
  button{
    background: orangered;
    color: #fff;
  }
  button:hover{
    padding: 7px 15px;
    cursor: pointer;
    background: rgb(249, 49, 229);
    color: #ffff;
    border: none;
    border-radius: 5px;
  }
  
 
}